{% extends 'base.html.twig' %}

{% block header_title %}
	<h1 class="mb-4">Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-md-4 mb-3">
			<a href="{{ path('task_create') }}" class="btn btn-action w-100">
				<i class="fas fa-plus-circle"></i>
				Créer une nouvelle tâche
			</a>
		</div>
		<div class="col-md-4 mb-3">
			<a href="{{ path('task_list') }}" class="btn btn-action w-100">
				<i class="fas fa-list"></i>
				Consulter la liste des tâches à faire
			</a>
		</div>
		<div class="col-md-4 mb-3">
			<a href="{{ path('task_done') }}" class="btn btn-action w-100">
				<i class="fas fa-check-circle"></i>
				Consulter la liste des tâches terminées
			</a>
		</div>
	</div>
{% endblock %}
